<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content class="text-center">
        <h1>Nuevo Producto</h1>
        <mat-form-field>
          <input [(ngModel)]="name" matInput placeholder="Nombre del producto">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="price" matInput placeholder="Precio del producto">
        </mat-form-field>
        <mat-form-field>
          <textarea [(ngModel)]="description" matInput placeholder="Descripción del producto"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="category">
            <mat-option value="tech" selected>Tecnologia</mat-option>
            <mat-option value="clothe">Ropa</mat-option>
            <mat-option value="other">Otro</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Sube una foto del producto:</p>
        <input type="file" (change)="imageChange($event)">
        <br><br>
        <button mat-raised-button color="primary" (click)="publish()">Publicar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
