<div class="container">
  <h1 class="text-center">{{ category }}</h1>

  <hr>

  <mat-grid-list cols="3">
    <mat-grid-tile>
      <app-product-card
        title="Telefono"
        description="hola que pedo como andas mi raza a ver si esto jala"
        image="http://lorempixel.com/400/400"
        price="123"></app-product-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-product-card
        title="Telefono"
        description="hola que pedo como andas mi raza a ver si esto jala"
        image="http://lorempixel.com/400/400"
        price="123"></app-product-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-product-card
        title="Telefono"
        description="hola que pedo como andas mi raza a ver si esto jala"
        image="http://lorempixel.com/400/400"
        price="123"></app-product-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <app-product-card
        title="Telefono"
        description="hola que pedo como andas mi raza a ver si esto jala"
        image="http://lorempixel.com/400/400"
        price="123"></app-product-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-product-card
        title="Telefono"
        description="hola que pedo como andas mi raza a ver si esto jala"
        image="http://lorempixel.com/400/400"
        price="123"></app-product-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-product-card
        title="Telefono"
        description="hola que pedo como andas mi raza a ver si esto jala"
        image="http://lorempixel.com/400/400"
        price="123"></app-product-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
